<h1>QUIK-MEALS</h1>

<div class="meal_disp">
  <% if @most_liked %>
    <h1>MOST LIKED MEALS</h1>
    <% @most_liked.each do |meal| %>
      <div class="each_meal">
        <a href="/details/<%= meal.id %>"><img src="<%= meal.image_url %>" alt=""></a>
        <p> <%= meal.meal_name %> </p>
        <p>likes: <%= meal.likes_count %></p>
        <% if logged_in? %>
          <form action="/new_like" method="post">
            <input type="hidden" name="meal_id" value="<%= meal.id %>" >
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button>like</button>
          </form>
        <% end %>
        <% if session[:user_id] == meal.user_id %>
          <form action="meal/<%= meal.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete</button>
          </form>
        <% end %>
      </div>
    <% end%>
  <% end %>
</div>

<div class="meal_disp">
  <% if @most_recent %>
    <h1>LATEST MEAL POSTS</h1>
    <% @most_recent.each do |meal| %>
      <div class="each_meal">
        <a href="/details/<%= meal.id %>"><img src="<%= meal.image_url %>" alt=""></a>
        <p> <%= meal.meal_name %> </p>
        <p>likes: <%= meal.likes_count %></p>
        <% if logged_in? %>
        <form action="/new_like" method="post">
          <input type="hidden" name="meal_id" value="<%= meal.id %>" >
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <button>like</button>
        </form>
        <% end %>
      </div>
    <% end%>
    <% end %>
</div>
