<div class="meal_disp">
  <% if @rec_meals %>
  <h1>TOP 3 SUGGESTIONS</h1>
    <% @rec_meals.each do |meal| %>
      <div class="each_meal">
        <a href="/details/<%= meal.id %>"><img src="<%= meal.image_url %>" alt=""></a>
        <p> <%= meal.meal_name %> </p>
      </div>
    <% end%>
  <% end %>
</div>

<div class="meal_disp">
  <% if @meals %>
  <h1>YOUR LAST 3 MEALS</h1>
    <% @meals.each do |meal| %>
      <div class="each_meal">
        <a href="/details/<%= meal.id %>"><img src="<%= meal.image_url %>" alt=""></a>
        <p> <%= meal.meal_name %> </p>
      </div>
    <% end%>
  <% end %>
</div>